* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#form-container {
    display: flex;  
    justify-content: center;
    margin: 10px 0 0 0;
}

#form-container textarea {
    width: 300px;
    height: 150px;
    resize: none;
    border-color: #ccc;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.15) inset;
    padding: 10px;
    outline: none;
    font-size:16px;
}

#submit {
    display: flex;
    justify-content: flex-end;
}

#submit > button {
    background-color: #ffc09f;
    color: #fff;
    width: 80px;
    height: 30px;
    border: 1px solid #fbbd9e;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
}

#content-container {
    display: flex;
    justify-content: center;
}

#content-container ul {
    list-style-type: none;
}

#content-container li {
    width: 300px;
    height: auto;
    min-height: 100px;
    background-color: bisque;
    margin: 10px 0 0 0;
}